<style>
    .table td, .table th {
        vertical-align: middle;
    }
    h1 {
        color: blue;
    }
    hr {
        background-color: #ddd;
    }
    .jumbotron {
        min-height: 100vh;
    }
</style>

<div class="jumbotron">
    <h1>Vista de Productos</h1>
    <br>

    {{#if hayProductos}}
        <div class="table-responsive">
            <table class="table table-responsive">
                <thead>
                    <tr> 
                        <th>Nombre</th> 
                        <th>Precio</th> 
                        <th>Foto</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each productos}}
                        <tr> 
                            <td>{{this.title}}</td> 
                            <td>${{this.price}}</td> 
                            <td>
                                <img width="50" src={{this.thumbnail}} >
                            </td> 
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    {{else}}
        <h3 class="alert alert-warning">{{this.Mensaje}}</h3>
    {{/if}}

    <a class="btn btn-success mt-3" href='/'>Formulario</a>
</div>